.container-setting{
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
    }
    form{
        padding: 0 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .row{
            display: flex;
            flex-direction: column;
            // width: 50%;
            .label{
                font-size: 16px;
            }
        }
        .flex-row{
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            gap: 25px;
            input{
                margin: 5px 0;
            }
        }
    }
}