.fetch-data-user {
  .ant-spin {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
div.page {
  max-width: 100vw;
  // width: fit-content;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  background: #f5f7f9;
  // overflow-x: hidden;
  div.header {
    height: 100px;
  }

  div.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  div.side-bar-container {
    width: 250px;
    min-height: 100vh;
  }

  div.container {
    display: flex;
    width: 100%;
    flex: 1;
  }

  div.main {
    box-sizing: border-box;
    flex: 1;
  }
}
